@model Lab25_ValidateUserInformation.Models.Student
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Sign up page.</h2>
@*<p style="border:1px solid green;background-color:aquamarine;
 width:20%; padding:10px; margin:10px; font-size:large;text-align:center; ">
    @Html.ActionLink("Sign up", "SignUp")</p>*@


@using (Html.BeginForm()){
    @Html.ValidationSummary()
    <p> Name : @Html.TextBoxFor(x => x.Name)</p>
    <p> Age : @Html.TextBoxFor(x => x.Age)</p>
    <input type="submit" value="Submit" />
}